<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="">
    </head>
    <body>
      <form action="/" method="POST">
        Notendanafn:<br>
        <input type="text" name="notendanafn" required>
        <br>
        Lykilorð:<br>
        <input type="password" name="lykilord" required>
        <br><br>
        <input type="submit" value="Login">
        <br><br>
        <a href="/register">Create new account</a>
      </form>
    </body>