<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="">
    </head>
    <body>
      <form action="/info" method="POST">
        Notendanafn:<br>
        <input type="text" name="notendanafn" required>
        <br>
        Lykilorð:<br>
        <input type="password" name="lykilord" required>
        <br><br>
        <a href="/"><input type="submit" value="register"></a>
      </form>
    </body>